/*----------------------------nav--------------------------------------------------*/
.layui-container{
    width: 100%;
}
.foundation{
    background-color: white;
    /* position: fixed; */
    /* top: 0;
    z-index: 1 !important; */
    height:80px;
    line-height: 80px;
    border-bottom: 1px solid #DDDDDD;
    width: 100%;

}
.nav{

    width: 90%;
    margin: 0 auto;
    min-width: 1440px;
}
.nav div{
    border-right: 1px solid white;
}
.nav .logopic{
    float: left;
    height: 60px;
    margin-top: 10px;

}
.nav .slogn{
    display: block;
    float: left;
    width: 160px;
    height: 60px;
    line-height: 60px;
    margin-left: 5px;
    margin-top: 15px;
    font-weight: 1000;
    color: #ff385c;
    font-size: 20px;
    text-align: center;
    font-family: YouYuan,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}
.nav .search-area{

    width: 325px;
    height: 50px;
    /* border: 1px solid #DDDDDD; */
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 25px;
    /* box-shadow: 0 1px 10px rgb(0 0 0 / 40%); */
}

.nav .search-area input[type="text"]{
    display: block;
    float: left;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 15px;
    width: 250px;
    border-radius: 25px;
    border: none;
}

.nav .search-area input[type="button"]{
    margin-top: 5px;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    float: right;
    background-color: #ff385c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 13px;

}
.nav .search-area input[type="button"]:hover{
    background-color:#E00B41;

}
.nav .login{
    width: 60px;
    height: 40px;
    margin-top: 20px;

    display: block;
    float: right;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;

    border-radius: 20px;
    border: 1px solid white;
}
.nav .signup{
    width: 60px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    display: block;

    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;

    border-radius: 20px;
    border: 1px solid white;

}
.nav .login:hover{
    border-color:#DDDDDD;

}
.nav .signup:hover{
    border-color:#DDDDDD;

}
.personcenter{
    margin-top: 10px;
    padding-left: 0px;
    height: 42px;
    width: 80px;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
}
.layui-btn-primary:hover{
    border-color:#717171;
}
.nav .personal-btn{

    display: block;
    height: 40px;
    width: 80px;

}
.nav .personal{
    width:30px;
    height: 30px;
    margin-top: 5px;
    display: block;
    float: left;
    /* border: 1px solid black; */

}
.nav .personal .hengxian{
    margin-left: 8px;
    margin-top: 5px;
    float: left;
    height: 20px;
    width: 20px;
}

.nav .headshort{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    /* background-color: #717171; */
    width: 32px;
    height:32px;
    border-radius: 30px;
    margin-right: 0px;
}
.nav .headshort img{
    padding-left: 2px;
    display: block;
    float: left;
    width: 32px;
    height: 32px;
}

.main{
    display: block;

    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height:650px;
    /* border-bottom: 1px solid #DDDDDD; */
}


/*右側*/
.r{
    display: block;
    float: right;
    width: 45%;
    height: 100%;
    /* border: 1px solid seagreen; */
}
.right{
    margin: 0 auto;
    height: 500px;
    width: 450px;
    border: 1px solid #EBEBEB;
    border-radius: 12px ;

    /* top: var(--navigation-bar-offset, 20px) !important;
    z-index: 1 !important; */
    right: 20px;

}

.right .r1{
    display: block;
    width: 405px;
    height: 130px;
    /* border: 1px solid red; */
    margin-left: 40px;
    margin-top: 15px;
}

.right .r1 .r2{
    width: 125px;
    height: 130px;
    /* border: 1px solid darkturquoise; */
}

.right .r1 .r2 .tupian{
    width: 125px;
    height: 130px;
}

.right .r1 .r3 .biaoyu{
    font-size: 16px;
    color: rgb(72, 72, 72);

}

.right .r1 .r3{
    width: 270px;
    height: 106px;
    /* border: 1px solid darkturquoise; */
    float: right;
    margin-top: -130px;

}
.right .r1 .pingfen{
    width: 20px;
    height: 20px;
    margin-left: 135px;
    /* border: 1px solid red; */
    margin-top: -32px;

}

.right .r1 .pf{
    float: right;
    margin-top: -30px;
    margin-right: 225px;
}

.right .r4{
    width: 405px;
    height: 70px;
    border-top: 1px solid #EBEBEB;
    margin-left: 40px;
    margin-top: 15px;
}
.right .r4 .r4_slogn{
    display: block;
    float: left;
    /* width: 160px; */
    /* height: 60px; */
    line-height: 60px;
    margin-left: 15px;
    margin-top: 5px;
    font-weight: 1000;
    color: #ff385c;
    font-size: 20px;
    text-align: center;
    font-family: YouYuan,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.right .r4 .r4kuang{
    width: 200px;
    height: 50px;
    /* border: 1px solid red; */
    float: right;
    margin-right: 40px;
    margin-top: 20px;

}

.right .r4 .r4_wenzi{
    font-size: 18px;
    color: #717171


}


.right .r5{
    width: 405px;
    height: 75px;
    margin-left: 40px;
    border-top: 1px solid #EBEBEB;
    margin-top: 15px;
}

.right .r5 .r5ziti{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-weight: 600 !important;
}

.right .r6{
    width: 405px;
    height: 130px;
    /* border: 1px solid chartreuse; */
    margin-left: 40px;
    margin-top: 15px;
}

.right .r6 .r7{
    width: 405px;
    height: 30px;
    /* border: 1px solid green; */
    margin-top: 5px;
}

.right .r6 .r8{
    width: 405px;
    height: 30px;
    /* border: 1px solid chocolate; */
    margin-top: 5px;
}

.right .r6 .r9{
    width: 405px;
    height: 45px;
    border-top: 1px solid #EBEBEB;
    margin-top: 5px;
    padding-top: 5px;
}

.right .r6 .r7 .fangfeidanjia{
    font-size: 16px;
    color: rgb(72, 72, 72);

}

.right .r6 .r7 .tianshu{
    font-size: 16px;
    color: rgb(72, 72, 72);
}

.right .r6 .r7 .zongji{
    float: right;
    margin-right: 20px;
    font-size: 16px;
    color: rgb(72, 72, 72);
}

.right .r6 .r8 .qingjiefei{
    font-size: 16px;
    color: rgb(72, 72, 72);
}
.right .r6 .r8 .qingjie{
    float: right;
    margin-right: 20px;
    font-size: 16px;
    color: rgb(72, 72, 72);
}

.right .r6 .r9 .zongjia{
    font-size: 16px;
    color: #222222;
    font-weight: 600 !important;
}

.right .r6 .r9 .zongjiaqian{
    float: right;
    margin-right: 20px;
    font-size: 16px;
    color: #222222;
    font-weight: 600 !important;
}

/*左侧*/
.l{
    margin-left: 150px;
    display: block;
    float: left;
    width: 35%;
    height: 80%;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
}


.l .title{

    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 24px;
    color: #222222;
    border-bottom: 1px solid #DDDDDD;
}
.l .order{
    height: 60px;
    display: block;
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid #DDDDDD;
}
.l .order_title{
    display: block;
    float: left;
    line-height: 60px;

    padding-left: 20px;
    font-weight: 600;
    font-size: 18px;
}
.l .order .ordernum{
    display: block;
    float: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
}
.l .time{
    display: block;
    float: left;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #DDDDDD;
}
.timeleft{
    display: block;
    float: left;
    width: 49%;
    height: 100%;
    border-right: 1px solid #DDDDDD;
}

.timeright{
    width: 49%;
    display: block;
    float: right;
    height: 100%;
}
.l .timetitle{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.l .timewords{
    margin-top: 20px;
    text-align: center;
    color: #717171;
    font-size: 16px;
}
.ordertetailtitle{
    display: block;
    float: left;
    line-height: 60px;
    height: 50px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 18px;
}
.orderdetail{
    display: block;
    float: left;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #DDDDDD;
}
.l .detailline{
    margin-left: 40px;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
}
.detailline .name{
    font-weight: 500;
    font-size: 13px;
    color: #222222
}
.detailline .telno{
    font-weight: 500;
    font-size: 13px;
    color: #222222
}
.detailline .shenfenzheng{
    font-weight: 500;
    font-size: 13px;
    color: #222222
}
.tuikuantitle{
    display: block;
    float: left;
    line-height: 60px;
    height: 50px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 18px;
}
.tuikuanwords{
    display: block;
    float: left;
    width: 96%;
    height: 100px;
    /* border-bottom: 1px solid #DDDDDD;  */
    padding-left: 20px;
    color: #717171;
}
.quzhifu{
    margin-top: 20px;
    display: block;
    float: right;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    color: #ff385c;
    font-weight: 600;
    cursor: pointer;
}
.quzhifu:hover{
    border: 1px solid #717171;
}
#toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    height: 80px;
    width: 200px;
    border: 1px solid #ff385c;
    border-radius: 8px;
    display: none;
    opacity: 1;
    transition: opacity 0.5s;
    color: rgb(72, 72, 72);
    font-size: 12px;
    font-weight: 500;
}