/*----------------------------nav--------------------------------------------------*/
.layui-container {
  width: 100%;
}

.foundation {
  /* background-color: skyblue; */
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #DDDDDD;
  width: 100%;
}

.nav {

  width: 90%;
  margin: 0 auto;
  min-width: 1440px;
}

.nav div {
  border-right: 1px solid white;
}

.nav .logopic {
  float: left;
  height: 60px;
  margin-top: 10px;

}

.nav .slogn {
  display: block;
  float: left;
  width: 160px;
  height: 60px;
  line-height: 60px;
  margin-left: 5px;
  margin-top: 15px;
  font-weight: 1000;
  color: #ff385c;
  font-size: 20px;
  text-align: center;
  font-family: YouYuan, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}

.nav .search-area {
  width: 325px;
  height: 50px;
  border: 1px solid #DDDDDD;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 25px;
  box-shadow: 0 1px 10px rgb(0 0 0 / 40%);
}

.nav .search-area input[type="text"] {
  display: block;
  float: left;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  padding-left: 15px;
  width: 250px;
  border-radius: 25px;
  border: none;
}

.nav .search-area input[type="button"] {
  margin-top: 5px;
  margin-right: 5px;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  float: right;
  background-color: #ff385c;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 13px;

}

.nav .search-area input[type="button"]:hover {
  background-color: #E00B41;

}

.nav .login {
  width: 60px;
  height: 40px;
  margin-top: 20px;

  display: block;
  float: right;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;

  border-radius: 20px;
}

.nav .signup {
  width: 60px;
  height: 40px;
  margin-top: 20px;
  margin-left: 30px;
  display: block;

  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;

  border-radius: 20px;
}

.nav .login:hover {
  background-color: #DDDDDD
}

.nav .signup:hover {
  background-color: #DDDDDD
}

.nav .personal-btn {
  margin-top: 20px;
  display: block;
  height: 40px;
  width: 120px;

  border-radius: 40px;
}

.nav .personal {
  width: 60px;
  height: 40px;


  display: block;
  float: left;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;

  border-radius: 20px;
}

.nav .personal-btn:hover {
  background-color: #DDDDDD
}

.nav .headshort {
  float: left;

  background-color: #717171;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 0px;
}

/*----------------------------图片--------------------------------------------------*/


.imgcontainer {
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 450px;
  /* border: 1px solid #EBEBEB; */
}

/* 左半部分容器样式 */
.left {
  float: left;
  margin-left: 10px;
  width: 49.5%;
  height: 445px;
  background-color: #f0f0f0;
  border: 1px solid #EBEBEB;
}

.left-img {
  width: 100%;
  height: 100%;

}


.right-img {

  width: 100%;
  height: 100%;
}


/* 右半部分容器样式 */
.right {
  float: right;
  width: 49.5%;
  height: 445px;
  border: 1px solid #EBEBEB;
  overflow: hidden;
}

/* 右半部分上半部分左边容器样式 */
.top-left {
  float: left;
  width: 49%;
  height: 49.5%;
  background-color: #d9d9d9;
  border: 1px solid #EBEBEB;
  overflow: hidden;
}



/* 右半部分上半部分右边容器样式 */
.top-right {
  float: left;
  width: 49%;
  height: 49.5%;
  background-color: #b3b3b3;
  border: 1px solid #EBEBEB;
  overflow: hidden;
}

/* 右半部分下半部分左边容器样式 */
.bottom-left {
  float: left;
  width: 49%;
  height: 49.5%;
  background-color: #999999;
  border: 1px solid #EBEBEB;
  overflow: hidden;
}

/* 右半部分下半部分右边容器样式 */
.bottom-right {
  float: left;
  width: 49%;
  height: 49.5%;
  background-color: #808080;
  border: 1px solid #EBEBEB;
  overflow: hidden;
}

/*----------------------------详情--------------------------------------------------*/

/* 设置容器的样式 */
.wrapper {
  display: block;
  float: none;
  margin: auto;
  position: relative;
  width: 80%;
  height: 3000px;

}

.meun-li {
  display: inline;
}

.style-menu {
  width: 751px;
  height: 30px;
  background-color: white;
  border-bottom: 1px solid #EBEBEB;
  padding-top: 10px;
  z-index: 1 !important;
  position: sticky !important;
  top: var(--navigation-bar-offset, 0px) !important;
}

.menu {
  border-radius: 2px;
  font-size: 0;
  box-sizing: border-box;
  background: none !important;

}

.menu li {
  margin-bottom: 5px;
  display: inline-block;
  margin-left: 15px;
}

.menufont {
  font-weight: bolder;
  margin-left: 25px;
  font-size: 18px;
  color: #008489;
}

/* 设置可下拉查看的内容区域的样式 */
.scrollable {
  margin-top: 5px;
  position: absolute;
  width: 66%;
  height: 100%;

}

/* 下滑区域 */
.mainhousetext {
  border-bottom: 1px solid #EBEBEB;
  width: 750px;
  height: 180px;
}

.minloc {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.maintitle {
  display: block;
  margin-top: 5px;
  font-size: 30px;
  font-weight: bolder;
}

.houseinfor {
  margin-top: 10px;
  width: 750px;
  height: 25px;

}

.perhouseinfor {
  display: inline-block;
  margin-left: 5px;
}

.mini-img {
  margin-left: 5px;
  width: 21px;
  height: 21px;
}

.datainfor {

  margin-left: 5px;
  font-size: 18px;
  color: #717171;
}

.baseinfor {

  font-size: 18px;
  color: #717171;
}

.lable-min {
  margin-top: 15px;
  width: 750px;
  height: 35px;
}

.condition {
  display: inline-block;
  margin-right: 10px;
  background-color: #eee;
  color: #717171;
  padding: 5px;
  border-radius: 10px;
}

.condition-ab {
  display: inline-block;
  margin-right: 10px;
  background-color: pink;
  color: palevioletred;
  padding: 5px;
  border-radius: 10px;
}


.promotion {
  display: block;
  margin-top: 10px;
  width: 750px;
  height: 160px;
  border-bottom: 1px solid #EBEBEB;
}

.promotion-title {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: bolder;
}

.con-promotion {
  display: block;
  font-size: 16px;
  color: #717171;
  margin-left: 5px;
  margin-bottom: 5px;
}

.infrastructure {
  margin-top: 25px;
  width: 750px;
  height: 360px;
  border-bottom: 1px solid #EBEBEB;
}

/***************************基础设施*******************************/

.infra-on {
  width: 750px;
  height: 120px;
  border-bottom: 1px solid #EBEBEB;
}

.infra-on-1 {
  margin-top: 33px;
  width: 750px;
  height: 22px;
}

.infra-on-2 {
  margin-right: 100px;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.infra-on-3 {
  font-size: 16px !important;
}

.infra-on-4 {
  font-size: 16px !important;
  margin-left: -5px;
}

.infra-under {
  width: 750px;
  height: 240px;
}

.under-combine {
  display: inline-block;
  margin-top: 35px;
  width: 120px;
  height: 60px;
}

.under-combine-img {
  display: block;
  margin: auto;
  width: 35px;
  height: 35px;
}

.under-combine-text {
  display: block;
  text-align: center;
}

/***************************评价部分*******************************/

.evaluation {
  margin-top: 30px;
  width: 750px;
  height: 1050px;
  border-bottom: 1px solid #EBEBEB;
}

.evaluation-star {
  height: 50px;
  margin-top: 15px;
}

.evaluation-num {
  margin-top: 10px;
  color: #717171;
  font-size: 18px;
}

.evaluation-part {
  display: block;
  width: 750px;
  height: 850px;

}

.evaluation-part-1 {
  margin-top: 10px;
  width: 750px;
  height: auto;
  border-bottom: 1px solid #EBEBEB;
}

.evaluation-user {
  display: flex;
  flex-direction: row;

}

.user-text {
  width: 150px;
  height: 50px;
  margin-top: 5px;
  margin-left: 15px;
}

.user-name {
  font-weight: bold;
  font-size: 16px;
}

.evaluation-time {
  color: #717171;
}

.user-img {

  margin-left: 15px;
  width: 50px;
  height: 50px;
  border-color: 1px solid #EBEBEB;
  border-radius: 50%;
}

.evaluation-part-text {
  margin-top: 15px;
  width: 650px;
  height: auto;
  margin-bottom: 15px;
}

.Text-content {
  color: #717171;
  font-size: 16px;
}

.pagepart {
  display: flex;
  flex-direction: row;
  width: 550px;
  height: 50px;
}

.prepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid #008489;
  color: #008489;
  margin-left: 10px;
  margin-right: 10px;
}

/*----------------可订日期---------------------------*/
.Available-dates {
  margin-top: 50px;
  width: 750px;
  height: 450px;
  border-bottom: 1px solid #EBEBEB;
}

.dates-text {
  margin-top: 40px;
}

.Available-dates-text {
  margin-top: 100px;
}

.site-demo-laydate {
  margin-top: 20px;
}

/*----------------房源位置---------------------------*/
.house-location {
  margin-top: 50px;
  width: 750px;
  height: 450px;
}

.duputy-loc{
  margin-top: 30px;
  margin-bottom: 30px;
}

.baiduAPI{
  width: 750px;
  height: 350px;
}
/* <!-- /*----------------预定须知---------------------------*/ 

.booknotice{
  margin-top: 100px;
  display: block;
  width: 750px;
  height: 500px;
  ;}

.concretenotice{
  margin-top: 40px;
  width: 750px;
  height: 500px;

}

.notice-1{
  display: flex;
  flex-direction: row;
}

.notice-title{
  font-size: 17px;
  font-weight: bolder;
}

.notice-text{
  font-size: 17px;
  margin-left: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

/*----------------固定框---------------------------*/


/* 设置固定正方形的样式 */
.style-fixed {
  float: right;
  width: 30%;
  height: 3000px;
  border-top: 1px solid #EBEBEB;

}

.wrapper .fixed {
  position: sticky !important;
  top: var(--navigation-bar-offset, 20px) !important;
  z-index: 1 !important;
  right: 20px;
}


.perhousePrice {
  display: block;
  margin-top: 15px;
  margin-left: 15px;
}

.fixedscore {
  margin-left: 20px;
}



.housePrice {
  font-weight: bolder;
  font-size: 25px;
}

.perday {
  font-size: 15px;
}


.order-form {
  border: 1px solid #EBEBEB;

  margin: auto;
  width: 325px;
  height: 230px;
}

.layui-form-label {
  display: block;
  text-align: left;
  font-size: 10px;
}


.layui-form-item .layui-inline {
  margin-left: 5px;
}

.layui-input,
.layui-textarea {
  display: inline-block;
}

.layui-input-inline {
  vertical-align: none;
}

.layui-form-item .layui-input-inline {
  width: 130px;
}

.layui-form-item {
  margin-bottom: 0px;
}

.formcounter {
  display: block;
  text-align: left;
  font-size: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}


.form-counter {
  display: inline-block;
  margin-left: 10px;
  width: 50px;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

.counter-button {
  width: 34.89px;
  display: inline-block;
  margin-left: 10px;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: 2px solid #008489;
  color: #008489;
  border-radius: 10px;
  cursor: pointer;
}

.counterbutton {
  display: inline-block;
  width: 120px;
}

.counterpart {
  width: 300px;
  height: 45px;

}

.formsubBtn {
  display: block;
  margin: auto;
  margin-top: 18px;
  width: 80%;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  padding: auto;
  border-radius: 5px;
  background-color: #FF5A5F;
  border: 1px solid #EBEBEB;
  color: white;
  cursor: alias;
}

.jubao {
  display: block;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  color: #717171;
  text-decoration: underline;
}